<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!--页面css文件-->
    <link rel="stylesheet" href="__STATIC__/qiantai.css">
    <link rel="stylesheet" href="http://www.jq22.com/demo/myshare201704242303/share.min.css">
    <link rel="stylesheet" href="http://ht.www.sogou.com/websearch/features/yun6.jsp?pid=sogou-brse-d2a452edff079ca6&w=1920&v=7421&st=1553685643263&od=11206&ls=1553683751822&lc=1553580817175&lk=1491206803547&sd=25&cd=0&kd=0&u=1474118152788892&y=A42715FBD105598EAD55395D07F77CC3&query=|http%3A%2F%2Fwww.jq22.com%2Fdemo%2Fmyshare201704242303%2Fshare.min.css">

    <!--点击复制外链-->
    <script src="https://cdn.bootcss.com/clipboard.js/2.0.1/clipboard.js"></script>

    <link rel="stylesheet" href="__STATIC__/h/css/font.css">
    <link rel="stylesheet" href="__STATIC__/h/css/xadmin.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/h/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/h/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="background: #f6f6f6">
<header>
    <ul>
        <li><a href="http://www.news.com/qiantai/Qiantai/index">首页</a></li>
        <li><a href="http://www.news.com/qiantai/Qiantai/index?sel=hot">热门</a></li>
        <li><a href="http://www.news.com/">管理</a></li>
        <div style="width: 500px;float: left">
            <form class="form-inline" style="line-height: 52px;">
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="sel" class="form-control" style="width: 300px">&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" style="background-color: #0084ff;border: 0">搜索热点</button>
            </form>
        </div>
    </ul>
</header>